#rateTableHeadContainer {
  text-align: left;

  tr {
    th {
      padding: 6px 0px 6px 20px;
      font-size: 19px;
      background-color: mediumturquoise;
      color: #ffffff;
      @include tableBorders();
    }
  }
}