#rateTableBodyContainer {
  font-size: 20px;

  tr {
    td {
      width: $column-width;
      padding: 8px;
      @include tableBorders();
    }

    &:nth-child(even) {
      td {
        background-color: lighten(turquoise, 35%);
      }
    }
  }
}
