#rateTableHeadContainer {
  text-align: left;

  tr {
    th {
      padding: 6px 0px 6px 20px;
      font-size: 19px;
      background-color: mediumturquoise;
      color: #ffffff;
      @include tableBorders();

      @media (max-width: $max-width-phone) {
        padding: 5px 0px 5px 15px;
        font-size: 17px;
        width: 121px;
      }
    }
  }
}