#refreshRateContainer {
  margin: 60px auto 0px;
  width: 434px;
  font-weight: 600;

  label {
    font-size: 21px;
    margin-right: 10px;
    color: cornflowerblue;
  }

  select {
    font-size: 16.5px;
  }
}
