#refreshRateContainer {
  margin: 60px 154px 0px;
  width: 10.5em;
  font-size: 25px;

  label {
    font-size: 22px;
    margin-right: 10px;
    color: cornflowerblue;
  }

  select {
    font-size: 18px;
  }
}
